# Concert Seat Tracker - Database Management

This notebook handles the database operations for the Concert Seat Tracker project, including:
- Database connection setup
- Data loading and cleaning from Excel files
- Database schema creation
- Data insertion and management
- Performance benchmarking

## Table of Contents
1. [Setup & Configuration](#setup--configuration)
2. [Database Utilities](#database-utilities) 
3. [Data Loading & Cleaning](#data-loading--cleaning)
4. [Database Schema Creation](#database-schema-creation)
5. [Data Insertion](#data-insertion)
6. [Performance Testing](#performance-testing)

## Setup & Configuration

### Import Required Libraries and Load Database Configuration

In [7]:
import json
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Load database configuration
with open('db.json', 'r') as f:
    db_config = json.load(f)

print("Database configuration loaded:")
print(f"Host: {db_config['host']}")
print(f"User: {db_config['user']}")
print(f"Database: {db_config['database']}")
print("Password: [HIDDEN]")

Database configuration loaded:
Host: 192.168.68.74
User: root
Database: concert
Password: [HIDDEN]

In [8]:
try:
    # Establish MySQL connection
    connection = mysql.connector.connect(**db_config
    )
    
    if connection.is_connected():
        db_info = connection.get_server_info()
        print(f"Successfully connected to MySQL Server version {db_info}")
        
        # Create a cursor object
        cursor = connection.cursor()
        
        # Get database name
        cursor.execute("SELECT DATABASE();")
        record = cursor.fetchone()
        print(f"You're connected to database: {record[0]}")
        
except Error as e:
    print(f"Error while connecting to MySQL: {e}")
    connection = None
    cursor = None

Successfully connected to MySQL Server version 5.5.5-10.6.21-MariaDB-ubu2004-log
You're connected to database: concert

C:\Users\eric9\AppData\Local\Temp\ipykernel_21388\463888940.py:7: DeprecationWarning: Call to deprecated function get_server_info. Reason:
    The property counterpart 'server_info' should be used instead.

  db_info = connection.get_server_info()

### Establish Database Connection

In [9]:
# Show all tables in the database
if connection and connection.is_connected():
    try:
        cursor.execute("SHOW TABLES;")
        tables = cursor.fetchall()
        
        if tables:
            print("Tables in the database:")
            for table in tables:
                print(f"- {table[0]}")
        else:
            print("No tables found in the database.")
            
    except Error as e:
        print(f"Error retrieving tables: {e}")
else:
    print("No active database connection.")

Tables in the database:
- ARTISTS
- CONCERT_SEATS
- EVENTS
- Toronto
- VENUES
- haveFV

## Database Utilities

### Helper Functions for Database Operations

In [10]:
def execute_query(query, params=None):
    """
    Execute a SQL query and return results as a pandas DataFrame.
    
    Args:
        query (str): SQL query to execute
        params (tuple, optional): Parameters for the query
        
    Returns:
        pandas.DataFrame or None: Query results or None if error
    """
    if not connection or not connection.is_connected():
        print("No active database connection.")
        return None
    
    try:
        df = pd.read_sql(query, connection, params=params)
        return df
    except Error as e:
        print(f"Error executing query: {e}")
        return None

def execute_non_query(query, params=None):
    """
    Execute a SQL query that doesn't return results (INSERT, UPDATE, DELETE).
    
    Args:
        query (str): SQL query to execute
        params (tuple, optional): Parameters for the query
        
    Returns:
        bool: True if successful, False otherwise
    """
    if not connection or not connection.is_connected():
        print("No active database connection.")
        return False
    
    try:
        cursor.execute(query, params)
        connection.commit()
        print(f"Query executed successfully. Rows affected: {cursor.rowcount}")
        return True
    except Error as e:
        print(f"Error executing query: {e}")
        return False

print("✓ Database utility functions defined successfully!")

✓ Database utility functions defined successfully!

In [11]:
def close_connection():
    """
    Properly close the database connection
    """
    global connection, cursor
    
    try:
        if cursor:
            cursor.close()
            print("Cursor closed.")
        
        if connection and connection.is_connected():
            connection.close()
            print("MySQL connection closed.")
    except Error as e:
        print(f"Error closing connection: {e}")

# Note: Run close_connection() when you're done working with the database
print("Connection cleanup function defined.")

Connection cleanup function defined.

## Data Loading & Cleaning

### Load Concert Data from Excel

In [12]:
# Load concert data from Excel file
concerts = pd.read_excel("Concert Seats.xlsx")

print(f"Loaded {len(concerts)} rows from Excel file")
print(f"Columns: {list(concerts.columns)}")
print(f"Data shape: {concerts.shape}")

# Preview first few rows
print("\nFirst 5 rows:")
concerts.head()

Loaded 161420 rows from Excel file
Columns: ['id', 'section', 'sectionId', 'row', 'rowId', 'faceValue', 'rawPrice', 'priceWithFees', 'eventId', 'sectionMapName', 'sectionType', 'seat', 'seatFrom', 'seatTo', 'ticketClass', 'ticketClassName', 'price', 'ticketTypeId', 'ticketTypeGroupId', 'listingTypeId', 'City', 'Event Date', 'countryName', 'Event Name', 'Event Type', 'Performer Type', 'Performer', 'isFavorite', 'aggregateFavorites', 'listingCurrencyCode', 'buyerCurrencyCode', 'faceValueCurrencyCode', 'Updated', 'isStanding', 'formattedFees', 'Artist', 'Venue', 'formattedDealScore']
Data shape: (161420, 38)

First 5 rows:

,id,section,sectionId,row,rowId,faceValue,rawPrice,priceWithFees,eventId,sectionMapName,...,aggregateFavorites,listingCurrencyCode,buyerCurrencyCode,faceValueCurrencyCode,Updated,isStanding,formattedFees,Artist,Venue,formattedDealScore
0,8760598596,General Admission,592771.0,NaN,249889.0,39.75,40.39,C$52,156257153,General Admission,...,0.0,USD,CAD,USD,2025-02-19,0.0,NaN,Cochise,The Axis Club (formerly known as Virgin Mobile...,NaN
1,-8768176490,General Admission,592771.0,NaN,249889.0,NaN,45.38,NaN,156257153,NaN,...,0.0,USD,CAD,NaN,2025-02-19,0.0,NaN,Cochise,The Axis Club (formerly known as Virgin Mobile...,NaN
2,8794431722,205,623870.0,S,2438784.0,NaN,291.95,C$407,155437117,205,...,0.0,USD,CAD,USD,2025-02-19,0.0,NaN,Yuridia,Rosemont Theatre,7.6
3,8791601415,201,623866.0,L,2438713.0,0.00,301.72,C$420,155437117,201,...,0.0,USD,CAD,USD,2025-02-19,0.0,NaN,Yuridia,Rosemont Theatre,8.4
4,8778803270,204,623869.0,Q,2438766.0,0.00,301.72,C$420,155437117,204,...,0.0,USD,CAD,USD,2025-02-19,0.0,NaN,Yuridia,Rosemont Theatre,8.1

### Data Cleaning & Formatting

Now we'll clean and format the loaded data to prepare it for database insertion. This includes:

1. **Price Cleaning**: Remove currency symbols and convert to numeric values
2. **Date Processing**: Convert string dates to proper date objects
3. **Data Validation**: Verify cleaned data quality

All cleaning operations are consolidated in this section for better organization.

In [13]:
import re

def clean_price_value(value):
    """
    Clean price values by removing currency symbols and converting to float.
    
    Args:
        value: Price value that may contain currency symbols, commas, etc.
        
    Returns:
        float or None: Cleaned price as float, or None if invalid
    """
    if pd.isna(value) or value is None:
        return None
    
    # Convert to string first
    str_value = str(value)
    
    # Remove currency symbols, spaces, and commas
    cleaned = re.sub(r'[C$€£¥,\s]', '', str_value)
    
    # Try to convert to float
    try:
        return float(cleaned) if cleaned else None
    except ValueError:
        return None

# Clean all price columns that might have currency symbols
print("Cleaning price columns...")

# Clean priceWithFees
concerts['priceWithFees'] = concerts['priceWithFees'].apply(clean_price_value)
print("✓ Cleaned priceWithFees")

# Clean price column as well
if 'price' in concerts.columns:
    concerts['price'] = concerts['price'].apply(clean_price_value)
    print("✓ Cleaned price")

# Clean other price columns too
if 'faceValue' in concerts.columns:
    concerts['faceValue'] = concerts['faceValue'].apply(clean_price_value)
    print("✓ Cleaned faceValue")

print(f"\nSample cleaned priceWithFees values:")
print(concerts['priceWithFees'].head(10))
print(f"✓ Price cleaning completed. Data type: {concerts['priceWithFees'].dtype}")

Cleaning price columns...
✓ Cleaned priceWithFees
✓ Cleaned price
✓ Cleaned faceValue

Sample cleaned priceWithFees values:
0     52.0
1      NaN
2    407.0
3    420.0
4    420.0
5    420.0
6    428.0
7    431.0
8      NaN
9    494.0
Name: priceWithFees, dtype: float64
✓ Price cleaning completed. Data type: float64

#### Price Data Cleaning

In [14]:
# Check current Event Date format
print("Event Date column analysis:")
print(f"Data type: {concerts['Event Date'].dtype}")
print(f"Unique values sample: {sorted(concerts['Event Date'].unique())[:10]}")
print(f"Total unique dates: {concerts['Event Date'].nunique()}")

Event Date column analysis:
Data type: object

TypeError: '<' not supported between instances of 'datetime.datetime' and 'str'

#### Date Data Processing

In [15]:
# Show rows where Event Date is in string format like "Feb 20"
print("Checking Event Date format...")
print(f"Event Date column type: {concerts['Event Date'].dtype}")
print(f"Total rows: {len(concerts)}")

# Create a pattern to match "MMM DD" format (like "Feb 20", "Mar 07")
date_pattern = r'^[A-Za-z]{3}\s\d{1,2}$'

# Find rows where Event Date matches the string pattern
string_date_mask = concerts['Event Date'].astype(str).str.match(date_pattern, na=False)
string_format_rows = concerts[string_date_mask]

print(f"\nFound {len(string_format_rows)} rows with 'MMM DD' string format dates")

if len(string_format_rows) > 0:
    print(f"\nUnique string-format dates ({string_format_rows['Event Date'].nunique()} total):")
    unique_dates = sorted(string_format_rows['Event Date'].unique())
    print(unique_dates[:10])  # Show first 10
    
    print(f"\nFirst 5 rows with string-format dates:")
    display_cols = ['Event Date', 'Artist', 'Venue', 'Event Name', 'City']
    available_cols = [col for col in display_cols if col in concerts.columns]
    print(string_format_rows[available_cols].head(5))
else:
    print("No rows found with 'MMM DD' string format dates")
    print("\nSample of actual Event Date values:")
    print(concerts['Event Date'].head(20))

Checking Event Date format...
Event Date column type: object
Total rows: 161420

Found 16878 rows with 'MMM DD' string format dates

Unique string-format dates (185 total):
['Apr 01', 'Apr 02', 'Apr 03', 'Apr 04', 'Apr 05', 'Apr 06', 'Apr 07', 'Apr 08', 'Apr 09', 'Apr 10']

First 5 rows with string-format dates:
  Event Date   Artist                                              Venue  \
0     Feb 20  Cochise  The Axis Club (formerly known as Virgin Mobile...
1     Feb 20  Cochise  The Axis Club (formerly known as Virgin Mobile...
2     Feb 22  Yuridia                                   Rosemont Theatre
3     Feb 22  Yuridia                                   Rosemont Theatre
4     Feb 22  Yuridia                                   Rosemont Theatre

  Event Name      City
0    Cochise   Toronto
1    Cochise   Toronto
2    Yuridia  Rosemont
3    Yuridia  Rosemont
4    Yuridia  Rosemont

In [16]:
# Convert string-format dates to proper date objects, using 'Updated' to infer year if missing
from datetime import datetime

def convert_string_date_to_proper_date(date_str, updated_val=None, default_year=2024):
    """
    Convert 'Feb 20' format to proper date object, using year from 'Updated' if available
    """
    if pd.isna(date_str):
        return None

    try:
        # Already a date object
        if isinstance(date_str, (datetime, pd.Timestamp)):
            return date_str.date() if hasattr(date_str, 'date') else date_str

        date_str = str(date_str).strip()
        if re.match(r'^[A-Za-z]{3}\s\d{1,2}$', date_str):
            # Try to get year from 'Updated'
            year = default_year
            if updated_val is not None and not pd.isna(updated_val):
                try:
                    updated_date = pd.to_datetime(updated_val, errors='coerce')
                    if not pd.isna(updated_date):
                        year = updated_date.year
                except Exception:
                    pass
            date_with_year = f"{date_str} {year}"
            parsed_date = datetime.strptime(date_with_year, "%b %d %Y").date()
            return parsed_date

        # Try to parse other formats
        return pd.to_datetime(date_str, errors='coerce').date()
    except Exception:
        return None

# Apply conversion using 'Updated' column for year inference
print("Converting all Event Date values to consistent format using 'Updated' for year...")
concerts['Event Date'] = concerts.apply(
    lambda row: convert_string_date_to_proper_date(row['Event Date'], row['Updated']),
    axis=1
)

print(f"After conversion:")
print(f"Event Date type: {concerts['Event Date'].dtype}")
print(f"Sample converted dates:")
print(concerts['Event Date'].head(10))
print(f"Date range: {concerts['Event Date'].min()} to {concerts['Event Date'].max()}")

failed_conversions = concerts['Event Date'].isna().sum()
print(f"Failed conversions: {failed_conversions}")

if failed_conversions > 0:
    print("Rows with failed date conversions:")
    print(concerts[concerts['Event Date'].isna()][['Event Date', 'Updated']].head())

Converting all Event Date values to consistent format using 'Updated' for year...
After conversion:
Event Date type: object
Sample converted dates:
0    2025-02-20
1    2025-02-20
2    2025-02-22
3    2025-02-22
4    2025-02-22
5    2025-02-22
6    2025-02-22
7    2025-02-22
8    2025-02-22
9    2025-02-22
Name: Event Date, dtype: object
Date range: 2025-02-20 to 2026-09-10
Failed conversions: 0

In [17]:
# Data Validation Summary - Check all cleaned data
print("=== DATA CLEANING SUMMARY ===")
print(f"Total rows after cleaning: {len(concerts)}")
print(f"Total columns: {len(concerts.columns)}")

print("\n--- Price Data Status ---")
price_cols = ['priceWithFees', 'price', 'faceValue']
for col in price_cols:
    if col in concerts.columns:
        non_null = concerts[col].notna().sum()
        print(f"{col}: {non_null}/{len(concerts)} valid values ({non_null/len(concerts)*100:.1f}%)")

print("\n--- Date Data Status ---")
date_valid = concerts['Event Date'].notna().sum()
print(f"Event Date: {date_valid}/{len(concerts)} valid dates ({date_valid/len(concerts)*100:.1f}%)")
print(f"Date range: {concerts['Event Date'].min()} to {concerts['Event Date'].max()}")

print("\n--- Sample of cleaned data ---")
sample_cols = ['Artist', 'Venue', 'Event Date', 'priceWithFees', 'Event Name']
available_cols = [col for col in sample_cols if col in concerts.columns]
print(concerts[available_cols].head(3))

print("\n✅ Data cleaning and formatting completed successfully!")

=== DATA CLEANING SUMMARY ===
Total rows after cleaning: 161420
Total columns: 38

--- Price Data Status ---
priceWithFees: 114496/161420 valid values (70.9%)
price: 161420/161420 valid values (100.0%)
faceValue: 116127/161420 valid values (71.9%)

--- Date Data Status ---
Event Date: 161420/161420 valid dates (100.0%)
Date range: 2025-02-20 to 2026-09-10

--- Sample of cleaned data ---
    Artist                                              Venue  Event Date  \
0  Cochise  The Axis Club (formerly known as Virgin Mobile...  2025-02-20
1  Cochise  The Axis Club (formerly known as Virgin Mobile...  2025-02-20
2  Yuridia                                   Rosemont Theatre  2025-02-22

   priceWithFees Event Name
0           52.0    Cochise
1            NaN    Cochise
2          407.0    Yuridia

✅ Data cleaning and formatting completed successfully!

#### Data Validation Summary

## Database Schema Creation

### Create All Database Tables

Now we'll create all the necessary database tables for our concert seat tracking system.

In [18]:
# Create ARTISTS table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS ARTISTS (
        id INT AUTO_INCREMENT PRIMARY KEY, 
        name VARCHAR(255) NOT NULL UNIQUE   
    )
""")
print("✓ ARTISTS table created")

✓ ARTISTS table created

In [19]:
# Create VENUES table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS VENUES (
        name VARCHAR(255) NOT NULL UNIQUE,
        city VARCHAR(100),
        country VARCHAR(100)
    )
""")
print("✓ VENUES table created")

✓ VENUES table created

In [20]:
# Create EVENTS table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS EVENTS (
        event_id INT UNIQUE NOT NULL,
        venue_id VARCHAR(255) NOT NULL,
        artist VARCHAR(255) NOT NULL,
        event_name VARCHAR(255) NOT NULL,
        event_date DATE NOT NULL,
        event_type VARCHAR(255),
        performer_type VARCHAR(255),
        performer VARCHAR(255)
    )
""")
print("✓ EVENTS table created")

✓ EVENTS table created

In [21]:
# Create the main CONCERT_SEATS table with all required columns
cursor.execute("""
    CREATE TABLE IF NOT EXISTS CONCERT_SEATS (
        id BIGINT PRIMARY KEY,
        section VARCHAR(255),
        sectionId FLOAT,
        row_name VARCHAR(255),
        rowId FLOAT,
        faceValue FLOAT,
        rawPrice FLOAT,
        priceWithFees FLOAT,
        eventId BIGINT,
        sectionMapName VARCHAR(255),
        sectionType FLOAT,
        seat VARCHAR(255),
        seatFrom VARCHAR(255),
        seatTo VARCHAR(255),
        ticketClass INT,
        ticketClassName VARCHAR(255),
        price FLOAT,
        ticketTypeId INT,
        ticketTypeGroupId INT,
        listingTypeId INT,
        city VARCHAR(100),
        event_date DATE,
        countryName VARCHAR(100),
        event_name VARCHAR(255),
        event_type VARCHAR(255),
        performer_type VARCHAR(255),
        performer VARCHAR(255),
        isFavorite FLOAT,
        aggregateFavorites FLOAT,
        listingCurrencyCode VARCHAR(10),
        buyerCurrencyCode VARCHAR(10),
        faceValueCurrencyCode VARCHAR(10),
        updated_date DATETIME,
        isStanding FLOAT,
        formattedFees FLOAT,
        artist VARCHAR(255),
        venue VARCHAR(255),
        formattedDealScore FLOAT
    )
""")
print("✓ CONCERT_SEATS table created successfully")

✓ CONCERT_SEATS table created successfully

## Data Insertion

### Method 1: Individual Row Insertion (Commented Out)

In [22]:
# Method 1: Individual Row Insertion (Slower but more control)
# Uncomment the code below to use this method

# print("Inserting concert data into CONCERT_SEATS table using individual row insertion...")

# for index, row in concerts.iterrows():
#     query = """
#         INSERT INTO CONCERT_SEATS (
#             id, section, sectionId, row_name, rowId, faceValue, rawPrice, priceWithFees,
#             eventId, sectionMapName, sectionType, seat, seatFrom, seatTo,
#             ticketClass, ticketClassName, price, ticketTypeId, ticketTypeGroupId,
#             listingTypeId, city, event_date, countryName, event_name, event_type,
#             performer_type, performer, isFavorite, aggregateFavorites,
#             listingCurrencyCode, buyerCurrencyCode, faceValueCurrencyCode,
#             updated_date, isStanding, formattedFees, artist, venue, formattedDealScore
#         ) VALUES (
#             %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
#             %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
#         )
#     """
    
#     params = (
#         row['id'], row['section'], row['sectionId'], row['row'], row['rowId'],
#         row['faceValue'], row['rawPrice'], row['priceWithFees'], row['eventId'],
#         row['sectionMapName'], row['sectionType'], row['seat'], row['seatFrom'],
#         row['seatTo'], row['ticketClass'], row['ticketClassName'], row['price'],
#         row['ticketTypeId'], row['ticketTypeGroupId'], row['listingTypeId'],
#         row['City'], row['Event Date'], row['countryName'], row['Event Name'],
#         row['Event Type'], row['Performer Type'], row['Performer'],
#         row['isFavorite'], row['aggregateFavorites'], row['listingCurrencyCode'],
#         row['buyerCurrencyCode'], row['faceValueCurrencyCode'], row['Updated'],
#         row['isStanding'], row['formattedFees'], row['Artist'], row['Venue'],
#         row['formattedDealScore']
#     )
    
#     execute_non_query(query, params)

# print(f"Successfully inserted {len(concerts)} records into CONCERT_SEATS table using Method 1!")

print("Method 1 code is available above (commented out). Uncomment to use individual row insertion.")

Method 1 code is available above (commented out). Uncomment to use individual row insertion.

In [23]:
# Check the id column values and data types
print("Sample id values:")
print(concerts['id'].head(10))
print("\nData type of id column:")
print(concerts['id'].dtype)
print("\nUnique count of id values:")
print(concerts['id'].nunique())
print("\nTotal rows:")
print(len(concerts))

Sample id values:
0    8760598596
1   -8768176490
2    8794431722
3    8791601415
4    8778803270
5    8720464689
6    8793310085
7    8798275872
8   -7995724677
9    8799832276
Name: id, dtype: int64

Data type of id column:
int64

Unique count of id values:
161420

Total rows:
161420

In [24]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Build SQLAlchemy connection string from db_config
user = db_config['user']
password = db_config['password']
host = db_config['host']
database = db_config['database']

# URL-encode the password to handle special characters
encoded_password = quote_plus(password)

# SQLAlchemy connection string for MySQL
connection_string = f"mysql+mysqlconnector://{user}:{encoded_password}@{host}/{database}"

print(f"Connection string (password hidden): mysql+mysqlconnector://{user}:***@{host}/{database}")

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Test the connection first
try:
    with engine.connect() as test_conn:
        print("✓ SQLAlchemy connection successful!")
except Exception as e:
    print(f"❌ SQLAlchemy connection failed: {e}")
    raise

# Prepare DataFrame for insertion (column names must match table)
# Rename columns to match CONCERT_SEATS schema
concerts_for_insert = concerts.rename(columns={
    'row': 'row_name',
    'Event Date': 'event_date',
    'Event Name': 'event_name',
    'Event Type': 'event_type',
    'Performer Type': 'performer_type',
    'Artist': 'artist',
    'Venue': 'venue',
    'City': 'city',
    'countryName': 'countryName',
    'Updated': 'updated_date'
})

# # Insert in batches (e.g., 1000 rows per batch)
# batch_size = 1000
# concerts_for_insert.to_sql(
#     name='CONCERT_SEATS2',
#     con=engine,
#     if_exists='append',
#     index=False,
#     chunksize=batch_size,
#     method='multi'
# )

# print(f"Inserted {len(concerts_for_insert)} rows into CONCERT_SEATS2 using SQLAlchemy.")

Connection string (password hidden): mysql+mysqlconnector://root:***@192.168.68.74/concert
✓ SQLAlchemy connection successful!

### Method 2: SQLAlchemy Bulk Insert (Recommended)

In [25]:
# Use executemany to insert multiple rows efficiently into CONCERT_SEATS3
# Prepare the data as a list of tuples matching the table columns

# Fix column name: 'Performer' should be 'performer' to match the rest of the columns
columns = [
    'id', 'section', 'sectionId', 'row_name', 'rowId', 'faceValue', 'rawPrice', 'priceWithFees',
    'eventId', 'sectionMapName', 'sectionType', 'seat', 'seatFrom', 'seatTo', 'ticketClass',
    'ticketClassName', 'price', 'ticketTypeId', 'ticketTypeGroupId', 'listingTypeId', 'city',
    'event_date', 'countryName', 'event_name', 'event_type', 'performer_type', 'Performer',
    'isFavorite', 'aggregateFavorites', 'listingCurrencyCode', 'buyerCurrencyCode',
    'faceValueCurrencyCode', 'updated_date', 'isStanding', 'formattedFees', 'artist', 'venue',
    'formattedDealScore'
]

# Prepare data as list of tuples
data = concerts_for_insert[columns].where(pd.notnull(concerts_for_insert), None).values.tolist()

insert_query = f"""
    INSERT IGNORE INTO CONCERT_SEATS (
        {', '.join(columns)}
    ) VALUES (
        {', '.join(['%s'] * len(columns))}
    )
"""

batch_size = 10000
for i in range(0, len(data), batch_size):
    batch = data[i:i+batch_size]
    try:
        cursor.executemany(insert_query, batch)
        connection.commit()
        print(f"Inserted batch {i//batch_size + 1}: {len(batch)} rows")
    except Error as e:
        print(f"Error inserting batch {i//batch_size + 1}: {e}")

print(f"Inserted {len(data)} rows into CONCERT_SEATS using executemany.")

Inserted batch 1: 10000 rows
Inserted batch 2: 10000 rows
Inserted batch 3: 10000 rows
Inserted batch 4: 10000 rows
Inserted batch 5: 10000 rows
Inserted batch 6: 10000 rows
Inserted batch 7: 10000 rows
Inserted batch 8: 10000 rows
Inserted batch 9: 10000 rows
Inserted batch 10: 10000 rows
Inserted batch 11: 10000 rows
Inserted batch 12: 10000 rows
Inserted batch 13: 10000 rows
Inserted batch 14: 10000 rows
Inserted batch 15: 10000 rows
Inserted batch 16: 10000 rows
Inserted batch 17: 1420 rows
Inserted 161420 rows into CONCERT_SEATS using executemany.

### Method 3: Batch Insert with executemany()

In [26]:
import time

# Benchmark loading from Excel
start_excel = time.time()
concerts_from_excel = pd.read_excel("Concert Seats.xlsx")
end_excel = time.time()
excel_time = end_excel - start_excel
print(f"Loaded from Excel in {excel_time:.2f} seconds. Shape: {concerts_from_excel.shape}")

# Benchmark loading from MySQL database
start_db = time.time()
query = "SELECT * FROM CONCERT_SEATS"
concerts_from_db = pd.read_sql(query, connection)
end_db = time.time()
db_time = end_db - start_db
print(f"Loaded from MySQL in {db_time:.2f} seconds. Shape: {concerts_from_db.shape}")

print(f"\nExcel load time: {excel_time:.2f} sec\nMySQL load time: {db_time:.2f} sec")

Loaded from Excel in 157.09 seconds. Shape: (161420, 38)

C:\Users\eric9\AppData\Local\Temp\ipykernel_21388\1096335516.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  concerts_from_db = pd.read_sql(query, connection)

Loaded from MySQL in 18.66 seconds. Shape: (177728, 38)

Excel load time: 157.09 sec
MySQL load time: 18.66 sec

## Performance Testing

### Compare Loading Speed: Excel vs MySQL

## Database Cleanup

### Close Database Connection

In [27]:
# Run this cell when finished to properly close the database connection
close_connection()

Cursor closed.
MySQL connection closed.

---

## Summary

This notebook provides a complete workflow for:

1. **Database Setup**: Loading configuration and establishing MySQL connection
2. **Utility Functions**: Helper functions for database operations
3. **Data Processing**: Loading and cleaning concert seat data from Excel
4. **Schema Creation**: Creating normalized database tables (ARTISTS, EVENTS, VENUES, CONCERT_SEATS)
5. **Data Insertion**: Multiple methods for inserting data efficiently
6. **Performance Testing**: Comparing data loading speeds
7. **Cleanup**: Proper connection closure

### Key Features:
- ✅ Organized into logical sections with clear headers
- ✅ Comprehensive data cleaning (prices, dates)
- ✅ Multiple insertion methods for flexibility
- ✅ Performance benchmarking
- ✅ Proper error handling and documentation

### Usage:
Run cells sequentially from top to bottom. Commented-out insertion methods are provided as alternatives.